<h1>this is rails project</h1>
<p id='demo'>this is paragraph</p>
<button type="button" onclick="change()">click</button>
<br>
<h3>details from model article:</h3>
<a href="/articles"><button>data</button></a>
<script>
  function change(){
    document.getElementById('demo').innerHTML = 'this paragraph is changed.'
  }
</script>  