<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blog</title>
  </head>
  <body>
    <h1>this is rails project</h1>
    <p id='demo'>this is paragraph</p>
    <button type="button" onclick="change()">click</button>
    <script>
      function change(){
        document.getElementById('demo').innerHTML = 'this paragraph is changed.'
      }
    </script>  
  </body>
</html>