<h1>this is rails project</h1>
<p id='demo'>this is paragraph</p>
<button type="button" onclick="change()">click</button>
<script>
  function change(){
    document.getElementById('demo').innerHTML = 'this paragraph is changed.'
  }
</script>  